html {
    box-sizing: border-box;
}


@media all and (min-width : 1025px)
{
    
    body {
        padding: 0;
        margin: 0;
        background: #2fa1f3;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: 100vh;
    }

    .logo {
        background: url('media/logo.png');
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
        width: 50%;
    }

    .video {
        width: 50%;
        height: 50%;
    }
    video {
        width: 100%;
        height: 100%;
    }

    .links {
        height: 50%;
        width: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    #playStore {
        background: url('media/play_store.png');
        background-size: 100% 100%;
        height: 13vh;
        width: 35%;
        margin: 0 auto;
    }

    #appStore {
        background: url('media/app_store.png');
        background-size: 100% 100%;
        height: 9vh;
        width: 30%;
        margin: 1.8vh auto;
    }

}

@media all and (max-width: 1024px)
{
    body {
        padding: 0;
        margin: 0;
        background-color: #d6eff7;
    }

    .container {
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        flex-direction: row;
    }
    
    .logo {
        position: relative;
        height: 30vh;
        width: 100%;
    }

    .logo1 {
        background: url('media/logo.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: 18vh;
        width: 60%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    
    video {
        width: 100%;
        max-height: 100%;
    }
    
    .video {
        padding: 10px 10px;
    }
    
    .links {
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        padding: 25px 5px;
        justify-content: center;
    }
    
    #playStore {
        background: url('media/play_store.png');
        background-size: contain;
        height: 13vh;
        width: 57%;
        margin: auto;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    #appStore {
        background: url('media/app_store.png');
        background-size: contain;
        background-position: center;
        height: 9vh;
        width: 50%;
        margin: 1.8vh auto;
        background-repeat: no-repeat;
    }
    
    @media all and (min-width: 900px) and (max-width: 1025px) {
        .links {
            height: 26%;
        }
        video {
            height: 100%;
        }
        .video {
            height: 50%;
            width: 100%;
        }
}